@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/  
   v2.0 | 20110126 
   License: none (public domain) 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[class*="col-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.6667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.6667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.6667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.6667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

body {
  padding-top: 50px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#menu-hamburg {
  position: absolute;
  top: 0;
}

.header {
  background-color: #113f5e;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 15px 0;
}

.header .logo h1 {
  font-size: 25px;
  font-family: sans-serif;
}

.header .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .tel a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  font-size: 0;
  text-align: center;
  line-height: 45px;
}

.header .tel a .fas {
  font-size: 20px;
  color: #0a3b63;
}

.header .menu-list {
  text-align: center;
}

.header .menu-list li {
  padding: 10px;
}

.header .menu-list a {
  text-decoration: none;
  color: #316b9b;
  font-size: 20px;
}

.header .menu-list li:hover a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.advertising {
  background-color: #113f5e;
  background-image: url(image/RWD切版/images/page01_img01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 0 40%;
}

.txt-group {
  text-align: center;
  font-family: "Merriweather", serif;
}

.txt-group h2 {
  color: white;
  font-size: 30px;
}

.txt-group p {
  color: #3993cf;
  padding: 30px 0;
}

.btn {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-decoration: none;
  color: white;
  background-color: darkorange;
  border-radius: 50px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
}

.section-block {
  background-color: #e7f1f5;
  text-align: center;
  font-family: sans-serif;
  padding: 50px 10px 0;
}

.section-block h2 {
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 40px;
}

.section-block h3 {
  font-size: 20px;
  padding-bottom: 40px;
  color: grey;
}

.section-block p {
  color: grey;
  line-height: 30px;
}

.main-title-pic {
  padding-top: 70px;
}

.pic-group img {
  width: 100%;
}

.health-content {
  text-align: center;
  font-family: sans-serif;
  padding: 60px 20px;
}

.health-content .content-title h2 {
  font-size: 30px;
}

.health-content i {
  font-size: 60px;
  padding: 50px 0 20px;
  color: darkorange;
}

.health-content h3 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 500;
}

.health-content p {
  font-size: 15px;
  color: grey;
  line-height: 20px;
}

.about {
  padding-bottom: 50px;
}

.about .about-pic {
  padding-bottom: 30px;
}

.email-course {
  background-color: #113f5e;
  text-align: center;
  padding: 30px 20px 40px;
}

.email-course .email-course-txt {
  padding-bottom: 20px;
}

.email-course .email-course-txt h2 {
  font-size: 25px;
}

.email-course .email-course-enter input {
  padding: 15px 10px;
  width: 300px;
  border-radius: 50px;
}

.saying {
  background-color: #f87d09;
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.saying h3 {
  font-size: 40px;
}

.saying img {
  padding: 20px 0;
}

.saying p {
  font-style: oblique;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 20px;
}

.saying span {
  font-size: 20px;
  font-weight: bold;
}

.saying .saying-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.saying .saying-pagination li {
  padding: 40px 5px 0;
}

.saying .saying-pagination a {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.308);
  border-radius: 50%;
}

.saying .saying-pagination ul li:last-child a {
  background-color: white;
}

.main-footer {
  padding: 30px 0;
  text-align: center;
  color: white;
  background-color: #292929;
}

.main-footer .footer-title h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0 30px;
}

.main-footer .footer-nav {
  padding: 20px 0;
  line-height: 30px;
}

.main-footer .footer-nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.651);
}

.main-footer ul li:hover a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-footer .footer-pic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-pic li {
  padding: 10px;
}

.main-footer .footer-pic a {
  color: rgba(255, 255, 255, 0.651);
}

.main-footer hr {
  width: 100%;
  height: 1px;
  background-color: #585858;
  border: none;
}

.main-footer p {
  color: #585858;
  font-size: 15px;
  padding: 10px 20px;
  line-height: 20px;
}

.main-footer span {
  color: white;
}

@media screen and (max-width: 767px) {
  .header .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header .menu-btn::before {
    content: "";
    width: 25px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 0;
    margin: auto;
    -webkit-box-shadow: 0 7px, 0 -7px;
            box-shadow: 0 7px, 0 -7px;
  }
  .header .logo {
    margin-left: 40px;
  }
  .header .menu-list {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 40%;
    height: calc(100vh - 50px);
    padding-top: 20px;
    background-color: #113f5e;
  }
  .header .menu-list ul li {
    padding: 30px;
  }
  #menu-hamburg:checked + .header .menu-list {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 30px;
  }
  .header .logo {
    padding-left: 50%;
  }
  .header .menu-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-top: 10px;
  }
  .advertising {
    padding-top: 20%;
  }
  .advertising h2 {
    font-size: 50px;
  }
  .btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
  }
  .health-content .content-txt {
    text-align: left;
    padding-top: 50px;
  }
  .health-content .content-txt h3 {
    padding-bottom: 20px;
  }
  .health-content .content-txt p {
    line-height: 30px;
  }
  .email-course .email-course-enter input {
    width: 500px;
  }
  .saying {
    padding: 70px 90px;
  }
  .footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav ul li {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo h1 {
    font-size: 30px;
    line-height: 10px;
  }
  .header .tel-order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .tel .fas {
    opacity: 0;
  }
  .header .tel a {
    display: inline;
    font-size: 25px;
    background-color: unset;
    color: white;
    width: 300px;
    text-align: center;
    line-height: 25px;
    font-family: 'Merriweather', serif;
  }
  .header .tel:hover a {
    color: #f87d09;
  }
  .header .menu-list ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .header .menu-list li {
    padding: 0 20px;
  }
  .advertising {
    padding-top: 10%;
  }
  .section-block {
    text-align: left;
    padding-top: 50px;
  }
  .section-block h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .section-block h3 {
    font-size: 30px;
  }
  .section-block p {
    padding-right: 70px;
  }
  .about-txt {
    padding-left: 70px;
  }
  .email-course {
    padding: 80px 0;
  }
  .email-course .email-course-enter {
    padding: 20px 0 0 300px;
  }
  .email-course .email-course-enter input {
    width: 350px;
  }
  .email-course .email-course-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .saying {
    padding: 70px 350px;
  }
  .main-footer .footer-pic {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style_RWD.css.map */