@import"reset";

[class*="col-"]{
    // padding: 15px;
    box-sizing: border-box;
}

.col-1{ width: 8.333333%;} 
.col-2{ width: 16.6667%;}
.col-3{ width: 25%;}
.col-4{ width: 33.333333%;}
.col-5{ width: 41.666666%;}
.col-6{ width: 50%;}
.col-7{ width: 58.333333%;}
.col-8{ width: 66.666666%;}
.col-9{ width: 75%;}
.col-10{ width: 83.333333%;}
.col-11{ width: 91.666666%;}
.col-12{ width: 100%;}

@media screen and (min-width: 768px) {
    .col-md-1{ width: 8.333333%;} 
    .col-md-2{ width: 16.6667%;}
    .col-md-3{ width: 25%;}
    .col-md-4{ width: 33.333333%;}
    .col-md-5{ width: 41.666666%;}
    .col-md-6{ width: 50%;}
    .col-md-7{ width: 58.333333%;}
    .col-md-8{ width: 66.666666%;}
    .col-md-9{ width: 75%;}
    .col-md-10{ width: 83.333333%;}
    .col-md-11{ width: 91.666666%;}
    .col-md-12{ width: 100%;}
}
@media screen and (min-width: 1024px) {
    .col-lg-1{ width: 8.333333%;} 
    .col-lg-2{ width: 16.6667%;}
    .col-lg-3{ width: 25%;}
    .col-lg-4{ width: 33.333333%;}
    .col-lg-5{ width: 41.666666%;}
    .col-lg-6{ width: 50%;}
    .col-lg-7{ width: 58.333333%;}
    .col-lg-8{ width: 66.666666%;}
    .col-lg-9{ width: 75%;}
    .col-lg-10{ width: 83.333333%;}
    .col-lg-11{ width: 91.666666%;}
    .col-lg-12{ width: 100%;}	
}
@media screen and (min-width: 1200px) {
    .col-xl-1{ width: 8.333333%;} 
    .col-xl-2{ width: 16.6667%;}
    .col-xl-3{ width: 25%;}
    .col-xl-4{ width: 33.333333%;}
    .col-xl-5{ width: 41.666666%;}
    .col-xl-6{ width: 50%;}
    .col-xl-7{ width: 58.333333%;}
    .col-xl-8{ width: 66.666666%;}
    .col-xl-9{ width: 75%;}
    .col-xl-10{ width: 83.333333%;}
    .col-xl-11{ width: 91.666666%;}
    .col-xl-12{ width: 100%;}	
}
body{
    padding-top: 50px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
#menu-hamburg{
    position: absolute;
    top: 0;           
}

.header{
    background-color:rgb(17, 63, 94);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    padding: 15px 0;
    
    .logo h1{
        font-size: 25px;
        font-family: sans-serif;
    }
    .tel{
        display: flex;
        justify-content: flex-end;
    }
    .tel a{
        text-decoration: none;
        display: block;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        font-size: 0;
        text-align: center;
        line-height: 45px;
    }
    .tel a .fas{
        font-size: 20px;
        color: rgb(10, 59, 99);
    }
    .menu-list{
        text-align: center;
    }
    .menu-list li{
        padding: 10px;
    }
    .menu-list a{
        text-decoration: none;
        color:rgb(49, 107, 155);
        font-size: 20px;
    }
    .menu-list li:hover a{
        color: white;
        transition: .3s;
    }
}

.advertising{
    background-color: rgb(17, 63, 94);
    background-image: url(image/RWD切版/images/page01_img01.png);
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
    padding: 5% 0 40%;
}
.txt-group{
    text-align: center;
    font-family: "Merriweather", serif;  
    h2{
        color: white;
        font-size: 30px;
    }
    p{
        color: rgb(57, 147, 207) ;
        padding: 30px 0;
    }     
}
.btn{
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: white;
    background-color: darkorange;
    border-radius: 50px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}
.section-block{
    background-color: rgb(231, 241, 245);
    text-align: center;
    font-family: sans-serif;
    padding: 50px 10px 0;
    h2{
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 40px;
    }
    h3{
        font-size: 20px;
        padding-bottom: 40px;
        color: grey; 
    }
    p{
        color: grey;
        line-height: 30px;
    }
}
.main-title-pic{
    padding-top: 70px;
}
.pic-group img{
    width: 100%;
}
.health-content{
    text-align: center;
    font-family: sans-serif;
    padding: 60px 20px;
   .content-title{
        h2{
            font-size: 30px;
        }      
   } 
   i{
    font-size: 60px;
    padding: 50px 0 20px;
    color: darkorange;
    }
    h3{
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: 500;
    }
    p{
        font-size: 15px;
        color: grey;
        line-height: 20px;       
    }
}
.about{
    padding-bottom: 50px;
    .about-pic{
        padding-bottom: 30px;
    }
}
.email-course{
    background-color: rgb(17, 63, 94);
    text-align: center;
    padding: 30px 20px 40px;
    .email-course-txt{
        h2{
            font-size: 25px;
        }
        padding-bottom: 20px;
    }
    .email-course-enter{
        input{
            padding:15px 10px;
            width: 300px;       
            border-radius: 50px;        
        } 
    }
}

.saying{
    background-color:rgb(248, 125, 9);
    color: white;
    text-align: center;
    padding: 70px 20px;
    h3{     
        font-size: 40px;
    }
    img{
        padding: 20px 0;
    }
    p{
        font-style: oblique;
        font-size: 20px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    span{
        font-size: 20px;
        font-weight: bold;
    }
    .saying-pagination{
        ul{
            display: flex;
            justify-content: center;
        }
        li{
            padding: 40px 5px 0;
        }
        a{
            display: block;
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.308);
            border-radius: 50%;  
        }
        ul li:last-child a {
            background-color: white;
        }
    }
}
.main-footer{
    padding: 30px 0;
    text-align: center;
    color: white;
    background-color: rgb(41, 41, 41) ;
    .footer-title h2{
        font-size: 30px;
        font-weight: 600;
        padding:10px 0 30px;
    }
    .footer-nav{
        padding: 20px 0;
        line-height: 30px;
    }
    .footer-nav a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.651);
    }
    ul li:hover a{
        color: white;
        transition: .3s;
    }
    .footer-pic{
        ul{
            display: flex;
            justify-content: center;
        }       
        li{
            padding: 10px;
        }
       a{
           color: rgba(255, 255, 255, 0.651);
       }
    }
    hr{
        width: 100%;
        height: 1px;
        background-color: rgb(88, 88, 88);
        border: none;
    }
    p{
        color: rgb(88, 88, 88);
        font-size: 15px;
        padding:10px 20px;
        line-height: 20px; 
     }
     span{
         color: white;
     }
}

@media screen and (max-width: 767px){
    .header{           
        .menu-btn{
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0; 
        }
        .menu-btn::before{
            content: "";
            width: 25px;
            height: 3px;
            border-radius: 50px;
            background-color: white;
            position: absolute;
            top: 5px;
            left: 10px;
            bottom: 0;
            margin: auto;
            box-shadow: 0 7px,
                        0 -7px;
        }
        .logo{
            margin-left: 40px;
        }                
        .menu-list{
            position: absolute;
            top: 100%;
            left: -100%;
            width: 40%;
            height: calc(100vh - 50px);           
            padding-top: 20px;
            background-color:rgb(17, 63, 94);
        }
        .menu-list ul li{
            padding: 30px;
        }       
    }
    #menu-hamburg:checked + .header .menu-list{
        left: 0;
    }
}
@media screen and (min-width: 768px){
    .header{ 
        padding-top: 30px;    
        .logo{
           padding-left: 50%;        
        }
        .menu-list ul{
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding-top: 10px;
        }
        
    }
    .advertising{
        padding-top: 20%;  
        h2{
            font-size: 50px;
        }     
    }
    .btn{
        width: 200px;
        height: 50px;
        line-height: 50px;
    }
    .health-content{
        .content-txt{
            text-align: left;
            padding-top: 50px;
            h3{
                padding-bottom: 20px;
            }
            p{
                line-height: 30px;
            }
        }       
    }
    .email-course{
        .email-course-enter{
            input{
                width: 500px;
            }
        }
    }
    .saying{
        padding: 70px 90px;
    }
    .footer-nav ul{
        display: flex;
        justify-content: center;
        li{
            padding: 0 20px;
        }
    }  
}
@media screen and (min-width: 1200px){
    .header{
        .logo{
            h1{
              font-size: 30px; 
              line-height: 10px; 
            }
            
        }
        .tel-order{
            order: 1;
        }
        .tel{
            .fas{
                opacity: 0;
            }
            a{
                display: inline;
                font-size: 25px;
                background-color:unset;
                color: white;
                width:  300px;
                text-align: center;
                line-height: 25px;
                font-family: 'Merriweather', serif; 
            }           
        }
        .tel:hover a{
            color: rgb(248, 125, 9);
        }
        .menu-list{
            ul{
                justify-content: center;
                padding: 0;
            }
            li{
                padding: 0 20px;
            }       
        }
    }
    .advertising{
        padding-top: 10%;
    }
    .section-block{ 
        text-align: left;
        padding-top: 50px;
        h2{
            font-size:45px ;
            line-height: 50px;
        }
        h3{
            font-size: 30px;
        }
        p{
            padding-right: 70px;
        }   
    }
    .about-txt{
        padding-left: 70px;
    }
    .email-course{
        padding: 80px 0;
        .email-course-enter{
            input{
                width: 350px;
            }
            padding: 20px 0 0 300px;
            
        }
        .email-course-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
    .saying{
        padding: 70px 350px;
    }
    .main-footer{
        .footer-pic{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}