.banner{
    width: 100%;
    background-image: url(image/sunplant_pic/asset\ 7.png);
}
.header{
    width: 1600px;
    padding: 30px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.header-nav{
    width: 700px;
    margin: auto; 
      
}
.nav-item a{
    padding: 0 15px;    
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.nav-item a:hover {
    color: green;
}
.header-logo{
    width: 250px;    
}
.logo-item img{
    width: 150px;  
}
.header-service{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-service .item{
    padding: 10px ;
}
.header-service img{
    width: 25px;
}
.header-service .value p{
   font-weight: bolder;
}
.header-advertising{
    width: 1600px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.advertising-txt{
    width: 800px;
    padding-left: 100px;    
}
.advertising-txt h3{
    font-size: 60px;
    padding-bottom: 20px;
    font-family: system-ui;
}
.advertising-txt p{
    font-size: 20px;
    padding: 10px 0 30px 0;
    font-family: monospace;
}
.advertising-txt button{
    padding: 10px 30px;
    letter-spacing: 4px;
    color: white;
    background-color: black;
}
.advertising-pic{
    width: 800px;
}
.advertising-pic img{
    width: 100%;
}
.section-block{
    padding: 60px 0;
    width: 1600px;
    margin: auto;
}
.main-title{
    text-align: center;
}
.main-title h2{
    font-size: 40px;
    padding-bottom: 40px;
    font-family: sans-serif;
    color: green;
    font-weight: bold;
    line-height: 60px;
}
.main-title p {
    font-family: sans-serif;
    color: grey;
    line-height: 20px;
}
.health-content{
    display: flex;
    
}
.container{
    width: 533px;
    margin: auto;   
}

.txt-item h4{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
.txt-item p {
    color: grey;
    font-family: sans-serif;
    padding-bottom: 40px;
}
.health-content .col{
    text-align: right;
}
.about-pic img{
    width: 100%;
}
.col-pic{
    width: 533px;  
}
.col-pic img{
    width: 100%;
}
.col-pic img:hover{
    opacity: .3;
}
.col-pic {
   position: relative; 
   padding: 0 20px;
   text-align: center;
}
.health-content .col-pic .sale{
    background-color: green;
    position: absolute;
    right: 20px;
    top: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: white;
}
.health-content .col-pic .sold-out{
    background-color: green;
    position: absolute;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: white;
    left: 20px;
    top: 40px;
}
.col-pic h4 a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.col-pic h4 {
    padding: 20px 0;
}
.col-pic p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom:40px;
}
.col-pic span{
    font-size: 14px;
}
.video{
    width: 100%;
    background-image: url(image/sunplant_pic/asset\ 43.png);
}
.video-container{
    width: 1600px;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;  
}

.txt-list{ 
    width: 510px;
    margin: 0 60px;
    padding-left: 100px;
}
.txt-list p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding-bottom: 30px;
}
.txt-list button{
    padding: 15px 40px;
    letter-spacing: 2px;
}
.txt-list button:hover{
    color: white;
    background-color: green;
}
.video-item{
  width: 800px;
}
.video-item img{
    width: 100%;
}
.main-title .main-title-txt{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 40px 0;
}
.shop-instagram-pic{   
    margin: auto;
    display: flex;   
}
.shop-instagram-pic .pic-list img{
    width: 350px;
    padding: 0 20px;
    vertical-align: top;  
}
.shop-instagram-pic img:hover{
    transition:.7s;
    filter: brightness(30%);
}
.main-footer{
    width: 100%;
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 232, 232);
}
.footer-socaal-list{
    width: 1600px;
    padding: 10px;
    margin: auto;
}
.footer-logo img{
    width: 150px;
    padding-bottom: 30px;
    display: block;
    margin: auto;
}
.footer-nav ul{   
    display: flex;
    justify-content: center;
}
.footer-nav li{
    margin:0 30px ;
    padding-bottom: 20px;
    position: relative;
}
.footer-nav a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}
.footer-nav li + li::before{
    content: '';
    height: 1px;
    width: 50px;
    background-color:black;
    position: absolute;
    left: -55px;
    top: -20px;
    bottom: 0;
    margin: auto;
}
.footer-socaal ul{
    display: flex;
    justify-content: center;
}
.footer-socaal li{
    margin:0 10px ;
    padding-bottom: 20px;
}
.footer-socaal a{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius:50%;
    line-height: 35px;
}
.footer-txt{
    color: gray;
    font-family: sans-serif;
    text-align: center;
}