body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.password__main-title{
    background-color:rgba(227,227,227, 1);
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding-left: 10px;
    position: relative;
}
.password__main-title::after{
    content: '';
    border-bottom: 2px rgba(176, 176, 176, 1) solid;
    position: absolute;
    top:-5px;
    left: 0;
    width: 100%;
}
.password__main-title h2{
    font-size: 20px;
    line-height: 50px;
    font-weight: 800;
    color:  rgba(138, 105, 38, 1);
}
.password__health-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content__title{
    text-align: center;
    padding: 50px 0 10px;
}
.content__title p{
    margin: 0;
    font-size: 20px;
}
.content__enter{
    background-color:rgba(227,227,227, 1);
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.content__enter-item p{
    margin-right: 50px;
    margin-bottom: 2px;
    font-size: 20px;
}
.content__enter-item span{
    font-size: 16px;
    color:  rgba(176, 176, 176, 1);
}
input[type="text"]{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px rgba(176, 176, 176, 1) solid;
}
.password__btn{
    text-align: center;
    padding-top: 20px;
}
.password__btn a{
    display: inline-block;
    width: 90px;
    height: 50px;
    background-color: rgba(138, 105, 38, 1);
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    line-height: 50px;
}