body{
    background-color: #f0e1b8;
}
.col-12{
    padding: 0;
}
ul{
    margin: 0;
}
p{
    margin: 0;
}
.section-block{
    padding-bottom: 20px;
}
.carousel-item img{
    width: 100%;
    max-height: 300px;
}
.carousel a{
    max-height: 300px;
}
.button-group{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #27292e ;
    color: white;
    border: none;
    border-top: 0;
}
.item-group{
    background-color: #878485;
}
.item-group li{
    padding: 5px 20px;
}
.item-group a{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 35px;
    font-size:17px;
    border-bottom: 1.5px #27292e dashed;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.item-group ul li:last-child a{
    border: none;
}
.column-padding__class{
    margin-bottom: 10px;
}
.class__title{
    margin: 0;
}
.class__title .class-btn{
    cursor: pointer;
}
.class__title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0;
}
.class-btn{
    width: 100%;
}
.column-padding__class--xl{
    display: none;
}
.class__list{
    display: none;
    margin-bottom: 5px;
}
.class__list a{
    font-size: 18px;
    text-decoration: none;
}
.class__list a:hover{
    color: rgb(233, 66, 0);
    transition: .5s;
}
.search__item--path{
    display: flex;
}
.search__item--path a{
    padding-right: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.search__item--path a:hover{
    color: rgb(233, 66, 0);
    transition: .5s;
}
.search__item--path a+a::before{
    content: '/';
    padding-right: 5px;
    color: black;
}
.search__item--sort{
    display: none;
}
.products__list--item a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.products__list--item{
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.products__list--item:hover img{
    opacity: 0.5;
    transition: .5s;
}
.products__item--pic img{
    width: 100%;
} 
.products__item--pic{
    position: relative;
    background-color: black;
}
.products__list--item:hover .icon{
    display: block;
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: none;
}
.icon button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border: 1px white solid;
    color: white;
    background-color: transparent;  
}
.products__item--txt{
    padding-top: 10px;
}
.products__item--txt p{
    font-family: 'Open Sans', sans-serif;
}
.products__item--price {
    font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width:768px){
    .products__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .search__item--path a{
        font-size: 20px;
    }
}

@media screen and (min-width:992px){
    .column-padding{
        width: 30%;
    }
    .column-main{
        width: 70%;
    }
    .column-main{
        margin-left: 20px;
    }
    .column-main__search{
        display: flex;
        justify-content: space-between;
    }
    .column-padding__class--xl{
        display: block;
    }
    .column-padding__class{
        display: none;
    }
    .class__title--xl p{
        text-align: center;
    }
    .class__list--xl a{
        font-size: 18px;
        text-decoration: none;
    }
    .class__list--xl a:hover{
        color: rgb(233, 66, 0);
        transition: .5s;
    }
    .class__title--xl p{
        font-size: 30px;
        padding: 15px 0;
    }
    .class__list--xl a{
        font-size: 20px;
    }
    .search__item--path{
        margin-left: 10px;
    }
    .search__item--sort{
        display: block;
        width: 150px;
        position: relative;
    }
    .search__item--sort .search-btn p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
    }
    .sort__list{
        display: none;
        position: absolute;
        z-index: 1;
    }
    .sort__list a{
        text-decoration: none;
    }
    .sort__list a:hover{
        color: red;
        transition: .5s;
    }
    .search-btn{
        width: 100%;
    }
    .products__list--item{
        margin: 0 10px;
    }
    .products__list .col-12{
        margin-bottom: 30px;
    }
    .article .container{
        display: flex;
    }
    .icon button{
        width: 50px;
        height: 50px;
        font-size: 20px; 
    }
}
